* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-style: normal;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $mainColor;

}

.main {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex: 1 0 auto
}

.header,
.footer {
    width: 100%;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-shrink: 0;
}