.quiz {
    width: 100%;
    max-width: $appSize;
    font-family: Inter;
    font-style: normal;
    line-height: normal;

    &__title {
        padding-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__description {
        width: 32rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: $mainColorDark;
    }
}

@import './round/round.scss';
@import './round/buttons/buttons.scss';