.result {
    width: 100%;
    max-width: $appSize;

    &__title {
        color: $mainColorDark;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__list {
        &__item {
            padding: 0.2rem;
            font-size: 1rem;

            span {
                font-weight: 600;
            }
        }
    }

    &__info {
        padding: 1rem 0;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__cards-wrap {
        width: 100%;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($cardWidth, 1fr));
        gap: 2rem;
    }
}

@import './item-card/item-card.scss';