$mainColor: #4885A6;
$mainColorDark: #174E6C;
$mainColorLight_1: #ACB9BF;
$mainColorLight_2: #DDF3FF;
$mainColorSuperLight: #ECF8FF;
$subTitleText: #9A9A9A;
$borderColor: #E9E9E9;
$oldPrice: #B8B8B8;


$appSize: 1200px;
$tabletPoint: 780px;
$cardWidth: 15rem;
$cardHight: 21.375rem;